html, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: "inherit";
  text-align: inherit;
  background: transparent;
}

body {
  text-align: center;
}

ul {
  list-style: none;
}

header {
  font-size: 28px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

div.play-or-pause,
div.message,
div.points {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

div.message {
  width: 200px;
}

div.points {
  width: 100px;
}

div.play-or-pause {
  width: 350px;
  margin-bottom: 0;
  margin-top: 20px;
}

div.play-or-pause:hover {
  box-shadow: 2px 2px 2px green;
}

div.play-or-pause,
header,
div.points,
div.message {
  background: #B7DB84;
  border: 1px solid green;
}

.game-board {
  margin: 20px auto;
  border: 2px solid black;
  width: 400px;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

li {
  vertical-align: middle;
  width: 18px;
  height: 18px;
  float: left;
  border: 1px solid black;
  background: silver;
}

li.snake {
  background: green;
}

li.apple {
  background-image: url("apple.png");
  background-size: cover;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0,0,0,0.8);
}

.modal-form {
  background: #F28F91;
  border-radius: 10px;
  padding: 100px;
  font-size: 20px;
  position: fixed;
  margin: 100px 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 300px;
  height: 300px;
  top:0;
}

.hidden {
  display: none;
}
