html, ul, li, p, header {
  margin: 0;
  padding: 0;
  border: 0;
  font: "inherit";
  text-align: inherit;
  background: transparent;
}

body {
  background: #2C3B58;
}

main {
  border-radius: 10px;
  border: 5px solid black;
  width: 850px;
  height: 633px;
  position: relative;
  margin: auto;
  padding-top:5px;
  text-align: center;
  background-image: url("../assets/images/seatback.jpg");
  background-size: contain;
}

figure {
  position: absolute;
  top: 122px;
  left: 137px;
}

ul {
  list-style: none;
  background: #000;
}

.game-board {
  margin-top: 10px;
  border: 2px solid black;
  width: 500px;
}

header {
  font-size: 28px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

button {
  padding: 5px;
  border-radius: 10px;
}

div.speed-btns,
div.play-or-pause,
div.message,
div.points {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

div.message {
  width: 200px;
}

div.points {
  width: 100px;
}

div.speed-btns,
div.play-or-pause {
  width: 300px;
}

div.play-or-pause:hover {
  box-shadow: 2px 2px 2px green;
}

div.speed-btns {
  margin-top: 425px;
}

div.speed-btns,
div.play-or-pause,
header,
div.points,
div.message {
  background: #B7DB84;
  border: 1px solid green;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

li {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  float: left;
  background: #000;
}

li.snake {
  border-radius: 10px;
  background: green;
}

li.apple {
  background-image: url("../assets/images/apple.png");
  background-size: cover;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(0,0,0,0.8);
}

.modal-form {
  background: red;
  top: 25%;
  left: 35%;
  border-radius: 10px;
  border: 5px solid #000;
  position: fixed;
  z-index: 2;
  width: 300px;
  height: 100px;
  padding-top: 40px;
  font-size: 28px;
}

.hidden {
  display: none;
}
